.wrapper {
    width: 900px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 0;
    overflow: auto;
}

.block {
    width: 800px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.letter{
    position:relative;
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: 50px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

button{
    margin: 0 10px;
}

.greeting{
    position: absolute;
    top: 10%;
    left: 100px;
}