.wordCollectionHeader{

    margin-top: 50px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}



.wordCollectionWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;

    border-right: 1px solid black;
    /*border-radius: 3px;*/
    margin-top: 10px;
    text-align: center;
}

.word{
    margin: 5px;
    padding: 5px 10px;
    font-size: 32px;
    display: inline-block;
    /*border: 1px solid black;
    border-radius: 2px;*/
    text-align: center;
}

.greeting{
    text-align: center;
}

.imgCloseWrap{
z-index: 100;
}
.closeImg{
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
}




