.wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.inputNames{
    margin: 3px 5px;
}

.submitBtn{
    display: flex;
    justify-content: space-between;
}

.socialNetwork{
    align-self: center;


}

.socialImg{
    width: 30px;
    height: 30px;
    margin: 2px;

}

.invalid{
    border: 1px solid red;
}